.header{
background-image: url(../images/background_header.svg);
background-color: #FFFFFF;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
height: 100vh;
min-height: 720px;
max-height: 800px;
}

.header__content{
display: flex;
justify-content: center;
flex-direction: column;
}

.header__title{
font-family: "Inter", "Arial", sans-serif;
font-weight: 500;
font-size: 58px;
line-height: 72px;
letter-spacing: 1px;
margin-top: 183px;
margin-left: 80px;
margin-bottom: 0;
max-width: 709px;
}

.header__span-acent{
font-family: "Noto Serif", "Times New Roman", sans-serif;
font-style: italic;
font-weight: normal;
font-size: 58px;
line-height: 72px;
color: #2F80ED;
}

.header__span-acent_break{
display: block;
}

.header__description{
max-width: 683px;
margin-left: 80px;
margin-top: 28px;
font-family: "Noto Serif", "Times New Roman", sans-serif;
font-size: 20px;
line-height: 30px;
}

.header__image{
width: 646px;
height: 568px;
position: absolute;
top: 124px;
right: 5px;
}

.header__footer{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: flex-end;
margin-top: auto;
margin-left: 80px;
margin-right: 80px;
height: 60px;
}

.header__paragraph{
font-family: "Inter", "Arial", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #838383;
margin-top: 0;
margin-bottom: 0;
}

.header__paragraph_right{
align-self: flex-end;
}